**TL;DR:**

Исходная задача: преобразовать неструктурированный список должностей в список профессий. Решение строится на получении эмбеддингов должностей с помощью обученной нейронной сети, затем применяется кластеризация методом DBSCAN, так как точное количество кластеров заранее неизвестно и этот метод хорошо работает с неравномерными данными.

Первичный результат был хорошим, но для улучшения предложены следующие шаги:

1. Итеративный DBSCAN на усредненных векторах найленных классов и шумовых данных.
2. Использование метода ближайших соседей для итеративного поиска ближайшего соседа для каждого элемента из класса шума.
3. При необходимости, тщательный подбор параметров первичной кластеризации или использование другой модели для получения эмбеддингов.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.cluster import DBSCAN
from sklearn.neighbors import NearestNeighbors

from sentence_transformers import SentenceTransformer

import os
import pickle

/Users/timasobornov/Docs/salary/venv/lib/python3.12/site-packages/sentence_transformers/cross_encoder/CrossEncoder.py:11: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm, trange

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

rubert_model = SentenceTransformer('cointegrated/rubert-tiny2')

/Users/timasobornov/Docs/salary/venv/lib/python3.12/site-packages/transformers/tokenization_utils_base.py:1601: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be depracted in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

In [3]:
def get_rubert_vector(word):
    return rubert_model.encode(word)

def get_distance(vector_1, vector_2, return_distance=False):
    distance = np.linalg.norm(vector_1 - vector_2)
    print("Евклидово расстояние:", distance)

    if return_distance:
        return distance

In [4]:
job_list = pd.read_csv('data/JOB_LIST.csv')
job_list.dropna(inplace=True)
job_list['job_title'] = job_list['job_title'].str.lower()
job_list.head(20)

                                            job_title
0   старший инспектор отдела пособий,субсидий и ко...
1   инспектор отдела муниципальных закупок и имуще...
2                                      ведущий геолог
3                                  геолог 1 категории
4                                      ведущий геолог
5                            начальник горного отряда
6                               геолог горного отряда
7   ведущий геолог камеральной группы, старший гео...
8   ведущий геолог камеральной группы, главный гео...
9   заместитель начальника отдела экономики, промы...
10  заместитель генерального директора, начальник ...
11                 заместитель генерального директора
12  участковый геолог, геолог ii категории, руково...
13                          начальник полевого отряда
14   геолог геолого-съемочной партии (ггс 50, гдп 50)
15                                      техник-геолог
16             участковый геолог руд. «верхне-менкече
17                                     ведущий геолог
18                                     ведущий геолог
19                          начальник  горного отряда

In [5]:
job_list['job_title'].value_counts(sort=True)[:20]

job_title
бухгалтер               271262
продавец                194165
водитель                156965
продавец-консультант    150922
менеджер                141572
администратор           134027
продавец-кассир         122217
менеджер по продажам    116252
главный бухгалтер        98777
повар                    88128
специалист               82353
кладовщик                78816
кассир                   78761
директор                 76748
воспитатель              75201
подсобный рабочий        66662
юрисконсульт             64882
охранник                 63509
экономист                59172
инженер                  55960
Name: count, dtype: int64

In [6]:
unique_job_list = pd.unique(job_list['job_title'])
unique_job_list = pd.DataFrame(unique_job_list, columns=['job_title'])

In [7]:
# На более мощной машине отдельно просчитали векторы. 
# Если этого не было, то считаем их в рилтайме. 

if os.path.exists('data/vectors.pkl'):
    with open('data/vectors.pkl', 'rb') as f:
        vectors = pickle.load(f)
else:
    vectors = []
    for _, row in unique_job_list.iterrows():

        vector = get_rubert_vector(row['job_title'])
        
        vectors.append(vector)

In [18]:
# Для экомномии времени выполнения, демонстрируем работу алгоритма на части исходных данных, а не полном датасете
sample_size = 500000

vectors_small = vectors[:sample_size]
unique_job_list_small = unique_job_list.copy()
unique_job_list_small = unique_job_list_small[:sample_size]
unique_job_list_small['vector_0'] = vectors_small

In [19]:
dbscan = DBSCAN(eps=0.3, min_samples=3)
dbscan.fit(vectors_small)

unique_job_list_small['class_0'] = dbscan.labels_

In [20]:
classes, counts = np.unique(dbscan.labels_, return_counts=True)

for i, j in zip(classes, counts):
    print(f'Class: {i}, count {j}')

Class: -1, count 218776
Class: 0, count 219167
Class: 1, count 90
Class: 2, count 12
Class: 3, count 6
Class: 4, count 5
Class: 5, count 8
Class: 6, count 20
Class: 7, count 17
Class: 8, count 24
Class: 9, count 3
Class: 10, count 3
Class: 11, count 11
Class: 12, count 14
Class: 13, count 4
Class: 14, count 59
Class: 15, count 12
Class: 16, count 18
Class: 17, count 87
Class: 18, count 3
Class: 19, count 39
Class: 20, count 15
Class: 21, count 14
Class: 22, count 96
Class: 23, count 17
Class: 24, count 14
Class: 25, count 12
Class: 26, count 7
Class: 27, count 9
Class: 28, count 5
Class: 29, count 26
Class: 30, count 36
Class: 31, count 3
Class: 32, count 8
Class: 33, count 3
Class: 34, count 13
Class: 35, count 15
Class: 36, count 8
Class: 37, count 12
Class: 38, count 6
Class: 39, count 9
Class: 40, count 23
Class: 41, count 13
Class: 42, count 56
Class: 43, count 27
Class: 44, count 252
Class: 45, count 165
Class: 46, count 9
Class: 47, count 4
Class: 48, count 4
Class: 49, count 20
Class: 50, count 5
Class: 51, count 6
Class: 52, count 56
Class: 53, count 134
Class: 54, count 6
Class: 55, count 11
Class: 56, count 61
Class: 57, count 697
Class: 58, count 16
Class: 59, count 3
Class: 60, count 6
Class: 61, count 7
Class: 62, count 12
Class: 63, count 6
Class: 64, count 4
Class: 65, count 248
Class: 66, count 30
Class: 67, count 15
Class: 68, count 4
Class: 69, count 8
Class: 70, count 4
Class: 71, count 6
Class: 72, count 28
Class: 73, count 12
Class: 74, count 11
Class: 75, count 3
Class: 76, count 4
Class: 77, count 7
Class: 78, count 5
Class: 79, count 3
Class: 80, count 19
Class: 81, count 8
Class: 82, count 11
Class: 83, count 4
Class: 84, count 11
Class: 85, count 11
Class: 86, count 4
Class: 87, count 13
Class: 88, count 27
Class: 89, count 5
Class: 90, count 16
Class: 91, count 15
Class: 92, count 4
Class: 93, count 114
Class: 94, count 7
Class: 95, count 5
Class: 96, count 3
Class: 97, count 5
Class: 98, count 4
Class: 99, count 4
Class: 100, count 39
Class: 101, count 24
Class: 102, count 120
Class: 103, count 7
Class: 104, count 20
Class: 105, count 4
Class: 106, count 3
Class: 107, count 8
Class: 108, count 17
Class: 109, count 13
Class: 110, count 18
Class: 111, count 8
Class: 112, count 109
Class: 113, count 33
Class: 114, count 5
Class: 115, count 3
Class: 116, count 26
Class: 117, count 3
Class: 118, count 18
Class: 119, count 33
Class: 120, count 34
Class: 121, count 3
Class: 122, count 3
Class: 123, count 9
Class: 124, count 36
Class: 125, count 3
Class: 126, count 5
Class: 127, count 14
Class: 128, count 6
Class: 129, count 10
Class: 130, count 3
Class: 131, count 56
Class: 132, count 6
Class: 133, count 5
Class: 134, count 31
Class: 135, count 8
Class: 136, count 6
Class: 137, count 4
Class: 138, count 9
Class: 139, count 4
Class: 140, count 9
Class: 141, count 3
Class: 142, count 9
Class: 143, count 8
Class: 144, count 4
Class: 145, count 16
Class: 146, count 3
Class: 147, count 17
Class: 148, count 4
Class: 149, count 16
Class: 150, count 7
Class: 151, count 4
Class: 152, count 3
Class: 153, count 33
Class: 154, count 5
Class: 155, count 6
Class: 156, count 170
Class: 157, count 21
Class: 158, count 3
Class: 159, count 11
Class: 160, count 200
Class: 161, count 18
Class: 162, count 10
Class: 163, count 3
Class: 164, count 64
Class: 165, count 13
Class: 166, count 3
Class: 167, count 7
Class: 168, count 34
Class: 169, count 3
Class: 170, count 6
Class: 171, count 7
Class: 172, count 16
Class: 173, count 4
Class: 174, count 14
Class: 175, count 5
Class: 176, count 21
Class: 177, count 59
Class: 178, count 6
Class: 179, count 3
Class: 180, count 4
Class: 181, count 70
Class: 182, count 6
Class: 183, count 24
Class: 184, count 113
Class: 185, count 69
Class: 186, count 26
Class: 187, count 58
Class: 188, count 30
Class: 189, count 29
Class: 190, count 3
Class: 191, count 45
Class: 192, count 13
Class: 193, count 65
Class: 194, count 3
Class: 195, count 15
Class: 196, count 11
Class: 197, count 5
Class: 198, count 18
Class: 199, count 6
Class: 200, count 48
Class: 201, count 54
Class: 202, count 10
Class: 203, count 4
Class: 204, count 3
Class: 205, count 3
Class: 206, count 31
Class: 207, count 6
Class: 208, count 9
Class: 209, count 18
Class: 210, count 37
Class: 211, count 12
Class: 212, count 3
Class: 213, count 4
Class: 214, count 3
Class: 215, count 27
Class: 216, count 12
Class: 217, count 12
Class: 218, count 3
Class: 219, count 5
Class: 220, count 64
Class: 221, count 10
Class: 222, count 4
Class: 223, count 15
Class: 224, count 3
Class: 225, count 19
Class: 226, count 38
Class: 227, count 6
Class: 228, count 7
Class: 229, count 3
Class: 230, count 3
Class: 231, count 7
Class: 232, count 4
Class: 233, count 27
Class: 234, count 9
Class: 235, count 19
Class: 236, count 3
Class: 237, count 3
Class: 238, count 15
Class: 239, count 13
Class: 240, count 8
Class: 241, count 7
Class: 242, count 13
Class: 243, count 15
Class: 244, count 3
Class: 245, count 9
Class: 246, count 6
Class: 247, count 7
Class: 248, count 64
Class: 249, count 3
Class: 250, count 8
Class: 251, count 3
Class: 252, count 5
Class: 253, count 65
Class: 254, count 5
Class: 255, count 4
Class: 256, count 3
Class: 257, count 38
Class: 258, count 3
Class: 259, count 23
Class: 260, count 7
Class: 261, count 3
Class: 262, count 7
Class: 263, count 9
Class: 264, count 41
Class: 265, count 6
Class: 266, count 27
Class: 267, count 3
Class: 268, count 12
Class: 269, count 5
Class: 270, count 4
Class: 271, count 6
Class: 272, count 45
Class: 273, count 6
Class: 274, count 5
Class: 275, count 29
Class: 276, count 50
Class: 277, count 9
Class: 278, count 4
Class: 279, count 5
Class: 280, count 58
Class: 281, count 25
Class: 282, count 9
Class: 283, count 6
Class: 284, count 12
Class: 285, count 14
Class: 286, count 5
Class: 287, count 11
Class: 288, count 6
Class: 289, count 38
Class: 290, count 11
Class: 291, count 29
Class: 292, count 5
Class: 293, count 3
Class: 294, count 12
Class: 295, count 7
Class: 296, count 16
Class: 297, count 24
Class: 298, count 5
Class: 299, count 5
Class: 300, count 3
Class: 301, count 148
Class: 302, count 6
Class: 303, count 5
Class: 304, count 19
Class: 305, count 67
Class: 306, count 3
Class: 307, count 28
Class: 308, count 11
Class: 309, count 27
Class: 310, count 49
Class: 311, count 9
Class: 312, count 13
Class: 313, count 6
Class: 314, count 30
Class: 315, count 25
Class: 316, count 6
Class: 317, count 3
Class: 318, count 4
Class: 319, count 3
Class: 320, count 5
Class: 321, count 5
Class: 322, count 91
Class: 323, count 4
Class: 324, count 16
Class: 325, count 6
Class: 326, count 65
Class: 327, count 3
Class: 328, count 62
Class: 329, count 21
Class: 330, count 19
Class: 331, count 4
Class: 332, count 15
Class: 333, count 13
Class: 334, count 53
Class: 335, count 3
Class: 336, count 26
Class: 337, count 4
Class: 338, count 4
Class: 339, count 3
Class: 340, count 23
Class: 341, count 3
Class: 342, count 22
Class: 343, count 4
Class: 344, count 36
Class: 345, count 5
Class: 346, count 3
Class: 347, count 8
Class: 348, count 5
Class: 349, count 4
Class: 350, count 43
Class: 351, count 3
Class: 352, count 4
Class: 353, count 6
Class: 354, count 16
Class: 355, count 15
Class: 356, count 54
Class: 357, count 8
Class: 358, count 5
Class: 359, count 11
Class: 360, count 18
Class: 361, count 4
Class: 362, count 40
Class: 363, count 20
Class: 364, count 24
Class: 365, count 27
Class: 366, count 130
Class: 367, count 4
Class: 368, count 10
Class: 369, count 4
Class: 370, count 3
Class: 371, count 11
Class: 372, count 82
Class: 373, count 3
Class: 374, count 6
Class: 375, count 15
Class: 376, count 8
Class: 377, count 7
Class: 378, count 3
Class: 379, count 101
Class: 380, count 6
Class: 381, count 15
Class: 382, count 5
Class: 383, count 8
Class: 384, count 22
Class: 385, count 12
Class: 386, count 28
Class: 387, count 9
Class: 388, count 7
Class: 389, count 4
Class: 390, count 7
Class: 391, count 5
Class: 392, count 33
Class: 393, count 7
Class: 394, count 6
Class: 395, count 20
Class: 396, count 142
Class: 397, count 3
Class: 398, count 3
Class: 399, count 10
Class: 400, count 4
Class: 401, count 5
Class: 402, count 53
Class: 403, count 6
Class: 404, count 5
Class: 405, count 4
Class: 406, count 7
Class: 407, count 3
Class: 408, count 7
Class: 409, count 16
Class: 410, count 8
Class: 411, count 7
Class: 412, count 41
Class: 413, count 5
Class: 414, count 3
Class: 415, count 8
Class: 416, count 4
Class: 417, count 11
Class: 418, count 35
Class: 419, count 33
Class: 420, count 5
Class: 421, count 190
Class: 422, count 3
Class: 423, count 10
Class: 424, count 8
Class: 425, count 8
Class: 426, count 3
Class: 427, count 8
Class: 428, count 20
Class: 429, count 3
Class: 430, count 3
Class: 431, count 30
Class: 432, count 10
Class: 433, count 5
Class: 434, count 3
Class: 435, count 11
Class: 436, count 5
Class: 437, count 5
Class: 438, count 3
Class: 439, count 17
Class: 440, count 4
Class: 441, count 4
Class: 442, count 3
Class: 443, count 5
Class: 444, count 3
Class: 445, count 6
Class: 446, count 16
Class: 447, count 4
Class: 448, count 5
Class: 449, count 21
Class: 450, count 6
Class: 451, count 63
Class: 452, count 24
Class: 453, count 11
Class: 454, count 25
Class: 455, count 5
Class: 456, count 45
Class: 457, count 3
Class: 458, count 13
Class: 459, count 4
Class: 460, count 6
Class: 461, count 7
Class: 462, count 10
Class: 463, count 11
Class: 464, count 6
Class: 465, count 7
Class: 466, count 4
Class: 467, count 5
Class: 468, count 10
Class: 469, count 14
Class: 470, count 4
Class: 471, count 4
Class: 472, count 3
Class: 473, count 3
Class: 474, count 15
Class: 475, count 5
Class: 476, count 10
Class: 477, count 11
Class: 478, count 3
Class: 479, count 5
Class: 480, count 69
Class: 481, count 3
Class: 482, count 7
Class: 483, count 89
Class: 484, count 3
Class: 485, count 6
Class: 486, count 20
Class: 487, count 6
Class: 488, count 6
Class: 489, count 7
Class: 490, count 11
Class: 491, count 34
Class: 492, count 7
Class: 493, count 7
Class: 494, count 21
Class: 495, count 3
Class: 496, count 3
Class: 497, count 3
Class: 498, count 6
Class: 499, count 6
Class: 500, count 4
Class: 501, count 13
Class: 502, count 11
Class: 503, count 37
Class: 504, count 17
Class: 505, count 10
Class: 506, count 9
Class: 507, count 27
Class: 508, count 4
Class: 509, count 6
Class: 510, count 20
Class: 511, count 4
Class: 512, count 4
Class: 513, count 69
Class: 514, count 4
Class: 515, count 12
Class: 516, count 7
Class: 517, count 10
Class: 518, count 20
Class: 519, count 4
Class: 520, count 5
Class: 521, count 4
Class: 522, count 95
Class: 523, count 15
Class: 524, count 7
Class: 525, count 30
Class: 526, count 36
Class: 527, count 7
Class: 528, count 3
Class: 529, count 5
Class: 530, count 66
Class: 531, count 3
Class: 532, count 6
Class: 533, count 23
Class: 534, count 5
Class: 535, count 16
Class: 536, count 16
Class: 537, count 4
Class: 538, count 3
Class: 539, count 4
Class: 540, count 3
Class: 541, count 52
Class: 542, count 18
Class: 543, count 9
Class: 544, count 4
Class: 545, count 19
Class: 546, count 8
Class: 547, count 11
Class: 548, count 38
Class: 549, count 8
Class: 550, count 14
Class: 551, count 4
Class: 552, count 4
Class: 553, count 27
Class: 554, count 4
Class: 555, count 4
Class: 556, count 9
Class: 557, count 3
Class: 558, count 4
Class: 559, count 32
Class: 560, count 5
Class: 561, count 11
Class: 562, count 9
Class: 563, count 26
Class: 564, count 31
Class: 565, count 8
Class: 566, count 10
Class: 567, count 5
Class: 568, count 6
Class: 569, count 90
Class: 570, count 4
Class: 571, count 3
Class: 572, count 12
Class: 573, count 4
Class: 574, count 13
Class: 575, count 7
Class: 576, count 9
Class: 577, count 6
Class: 578, count 26
Class: 579, count 3
Class: 580, count 5
Class: 581, count 84
Class: 582, count 5
Class: 583, count 3
Class: 584, count 15
Class: 585, count 3
Class: 586, count 17
Class: 587, count 3
Class: 588, count 19
Class: 589, count 3
Class: 590, count 3
Class: 591, count 3
Class: 592, count 5
Class: 593, count 18
Class: 594, count 104
Class: 595, count 3
Class: 596, count 14
Class: 597, count 38
Class: 598, count 5
Class: 599, count 25
Class: 600, count 99
Class: 601, count 72
Class: 602, count 3
Class: 603, count 15
Class: 604, count 5
Class: 605, count 4
Class: 606, count 7
Class: 607, count 4
Class: 608, count 4
Class: 609, count 6
Class: 610, count 3
Class: 611, count 3
Class: 612, count 23
Class: 613, count 25
Class: 614, count 20
Class: 615, count 3
Class: 616, count 5
Class: 617, count 4
Class: 618, count 4
Class: 619, count 4
Class: 620, count 13
Class: 621, count 5
Class: 622, count 6
Class: 623, count 4
Class: 624, count 8
Class: 625, count 12
Class: 626, count 3
Class: 627, count 6
Class: 628, count 44
Class: 629, count 3
Class: 630, count 28
Class: 631, count 4
Class: 632, count 23
Class: 633, count 5
Class: 634, count 6
Class: 635, count 5
Class: 636, count 8
Class: 637, count 10
Class: 638, count 8
Class: 639, count 3
Class: 640, count 17
Class: 641, count 5
Class: 642, count 11
Class: 643, count 4
Class: 644, count 6
Class: 645, count 6
Class: 646, count 12
Class: 647, count 13
Class: 648, count 17
Class: 649, count 14
Class: 650, count 6
Class: 651, count 13
Class: 652, count 8
Class: 653, count 24
Class: 654, count 3
Class: 655, count 7
Class: 656, count 3
Class: 657, count 6
Class: 658, count 9
Class: 659, count 4
Class: 660, count 25
Class: 661, count 21
Class: 662, count 18
Class: 663, count 8
Class: 664, count 11
Class: 665, count 13
Class: 666, count 13
Class: 667, count 12
Class: 668, count 22
Class: 669, count 5
Class: 670, count 12
Class: 671, count 4
Class: 672, count 7
Class: 673, count 22
Class: 674, count 25
Class: 675, count 9
Class: 676, count 4
Class: 677, count 25
Class: 678, count 7
Class: 679, count 3
Class: 680, count 4
Class: 681, count 6
Class: 682, count 13
Class: 683, count 7
Class: 684, count 6
Class: 685, count 47
Class: 686, count 16
Class: 687, count 3
Class: 688, count 17
Class: 689, count 19
Class: 690, count 22
Class: 691, count 8
Class: 692, count 4
Class: 693, count 6
Class: 694, count 6
Class: 695, count 22
Class: 696, count 7
Class: 697, count 3
Class: 698, count 7
Class: 699, count 7
Class: 700, count 6
Class: 701, count 6
Class: 702, count 7
Class: 703, count 4
Class: 704, count 3
Class: 705, count 3
Class: 706, count 38
Class: 707, count 70
Class: 708, count 36
Class: 709, count 10
Class: 710, count 105
Class: 711, count 14
Class: 712, count 17
Class: 713, count 17
Class: 714, count 9
Class: 715, count 12
Class: 716, count 20
Class: 717, count 16
Class: 718, count 6
Class: 719, count 3
Class: 720, count 41
Class: 721, count 7
Class: 722, count 12
Class: 723, count 55
Class: 724, count 9
Class: 725, count 27
Class: 726, count 26
Class: 727, count 3
Class: 728, count 3
Class: 729, count 7
Class: 730, count 4
Class: 731, count 12
Class: 732, count 11
Class: 733, count 5
Class: 734, count 3
Class: 735, count 3
Class: 736, count 5
Class: 737, count 10
Class: 738, count 3
Class: 739, count 9
Class: 740, count 13
Class: 741, count 11
Class: 742, count 7
Class: 743, count 4
Class: 744, count 7
Class: 745, count 8
Class: 746, count 10
Class: 747, count 20
Class: 748, count 7
Class: 749, count 3
Class: 750, count 3
Class: 751, count 4
Class: 752, count 10
Class: 753, count 13
Class: 754, count 3
Class: 755, count 14
Class: 756, count 15
Class: 757, count 4
Class: 758, count 6
Class: 759, count 3
Class: 760, count 5
Class: 761, count 7
Class: 762, count 6
Class: 763, count 12
Class: 764, count 4
Class: 765, count 7
Class: 766, count 3
Class: 767, count 4
Class: 768, count 4
Class: 769, count 4
Class: 770, count 7
Class: 771, count 11
Class: 772, count 17
Class: 773, count 4
Class: 774, count 6
Class: 775, count 14
Class: 776, count 3
Class: 777, count 12
Class: 778, count 13
Class: 779, count 5
Class: 780, count 23
Class: 781, count 3
Class: 782, count 3
Class: 783, count 17
Class: 784, count 6
Class: 785, count 4
Class: 786, count 4
Class: 787, count 3
Class: 788, count 14
Class: 789, count 5
Class: 790, count 15
Class: 791, count 51
Class: 792, count 3
Class: 793, count 33
Class: 794, count 13
Class: 795, count 32
Class: 796, count 3
Class: 797, count 4
Class: 798, count 3
Class: 799, count 4
Class: 800, count 5
Class: 801, count 14
Class: 802, count 6
Class: 803, count 9
Class: 804, count 10
Class: 805, count 6
Class: 806, count 10
Class: 807, count 44
Class: 808, count 11
Class: 809, count 46
Class: 810, count 8
Class: 811, count 16
Class: 812, count 8
Class: 813, count 9
Class: 814, count 13
Class: 815, count 11
Class: 816, count 3
Class: 817, count 129
Class: 818, count 4
Class: 819, count 11
Class: 820, count 10
Class: 821, count 3
Class: 822, count 9
Class: 823, count 4
Class: 824, count 3
Class: 825, count 6
Class: 826, count 10
Class: 827, count 7
Class: 828, count 6
Class: 829, count 11
Class: 830, count 11
Class: 831, count 18
Class: 832, count 5
Class: 833, count 12
Class: 834, count 18
Class: 835, count 54
Class: 836, count 3
Class: 837, count 8
Class: 838, count 8
Class: 839, count 80
Class: 840, count 10
Class: 841, count 3
Class: 842, count 14
Class: 843, count 3
Class: 844, count 8
Class: 845, count 5
Class: 846, count 18
Class: 847, count 7
Class: 848, count 3
Class: 849, count 77
Class: 850, count 11
Class: 851, count 9
Class: 852, count 8
Class: 853, count 3
Class: 854, count 8
Class: 855, count 3
Class: 856, count 3
Class: 857, count 7
Class: 858, count 7
Class: 859, count 4
Class: 860, count 6
Class: 861, count 7
Class: 862, count 4
Class: 863, count 3
Class: 864, count 24
Class: 865, count 3
Class: 866, count 38
Class: 867, count 11
Class: 868, count 7
Class: 869, count 4
Class: 870, count 15
Class: 871, count 7
Class: 872, count 7
Class: 873, count 4
Class: 874, count 3
Class: 875, count 6
Class: 876, count 34
Class: 877, count 18
Class: 878, count 3
Class: 879, count 11
Class: 880, count 14
Class: 881, count 9
Class: 882, count 9
Class: 883, count 4
Class: 884, count 31
Class: 885, count 3
Class: 886, count 3
Class: 887, count 13
Class: 888, count 25
Class: 889, count 4
Class: 890, count 3
Class: 891, count 23
Class: 892, count 11
Class: 893, count 8
Class: 894, count 3
Class: 895, count 5
Class: 896, count 6
Class: 897, count 11
Class: 898, count 6
Class: 899, count 18
Class: 900, count 4
Class: 901, count 11
Class: 902, count 4
Class: 903, count 130
Class: 904, count 7
Class: 905, count 10
Class: 906, count 5
Class: 907, count 4
Class: 908, count 11
Class: 909, count 8
Class: 910, count 7
Class: 911, count 4
Class: 912, count 3
Class: 913, count 13
Class: 914, count 12
Class: 915, count 118
Class: 916, count 14
Class: 917, count 4
Class: 918, count 32
Class: 919, count 94
Class: 920, count 5
Class: 921, count 5
Class: 922, count 4
Class: 923, count 25
Class: 924, count 4
Class: 925, count 3
Class: 926, count 3
Class: 927, count 5
Class: 928, count 4
Class: 929, count 6
Class: 930, count 5
Class: 931, count 16
Class: 932, count 5
Class: 933, count 3
Class: 934, count 4
Class: 935, count 4
Class: 936, count 16
Class: 937, count 4
Class: 938, count 8
Class: 939, count 6
Class: 940, count 3
Class: 941, count 3
Class: 942, count 3
Class: 943, count 6
Class: 944, count 4
Class: 945, count 12
Class: 946, count 5
Class: 947, count 24
Class: 948, count 10
Class: 949, count 5
Class: 950, count 7
Class: 951, count 24
Class: 952, count 18
Class: 953, count 24
Class: 954, count 5
Class: 955, count 15
Class: 956, count 9
Class: 957, count 4
Class: 958, count 15
Class: 959, count 3
Class: 960, count 7
Class: 961, count 9
Class: 962, count 69
Class: 963, count 3
Class: 964, count 5
Class: 965, count 10
Class: 966, count 3
Class: 967, count 6
Class: 968, count 8
Class: 969, count 5
Class: 970, count 3
Class: 971, count 7
Class: 972, count 11
Class: 973, count 55
Class: 974, count 6
Class: 975, count 28
Class: 976, count 9
Class: 977, count 10
Class: 978, count 6
Class: 979, count 6
Class: 980, count 11
Class: 981, count 17

In [27]:
unique_job_list_small[unique_job_list_small['class_0'] == 7][:50]

,job_title,vector_0,class_0
51,производитель работ (прораб),"[-0.00851216, -0.01291014, -0.0400405, -0.0178...",7
2001,прораб .(производитель работ ),"[-0.012166404, -0.012252463, -0.04034349, -0.0...",7
12034,прораб(производитель работ),"[-0.009382986, -0.013046221, -0.032301735, -0....",7
14340,производитель работ (прораб) по сварке,"[-0.032245196, -0.027331052, -0.0406869, -0.02...",7
41276,прораб (производитель работ),"[-0.009382986, -0.013046221, -0.032301735, -0....",7
78985,производитель работ (прораб) свик,"[0.00021796564, -0.0156145515, -0.027998785, -...",7
111289,производитель отделочных работ. (прораб),"[0.0033494988, -0.015908912, -0.02792319, -0.0...",7
165520,производитель работ(отделка),"[-0.005338221, -0.02709452, -0.03666384, -0.03...",7
169706,производитель работ(прораб),"[-0.00851216, -0.01291014, -0.0400405, -0.0178...",7
195998,прораб ( производитель работ),"[-0.009382986, -0.013046221, -0.032301735, -0....",7
272906,производитель работ по эмр (мастер),"[-0.014083177, 0.0046918346, -0.0453072, -0.04...",7
295473,мастер смр(производитель работ),"[-0.015591153, -0.010280656, -0.038347322, -0....",7
301385,производитель работ овик (прораб),"[0.0012065053, -0.022137938, -0.021411512, -0....",7
327580,"мастер смр, (ио производителя работ)","[-0.012100344, -0.0030604922, -0.066262186, -0...",7
392462,производитель работ (прораб нвк ),"[0.007291091, -0.015389365, -0.018581772, -0.0...",7
399266,производитель работ(отделочных),"[0.00852298, -0.013947706, -0.04279467, -0.032...",7
413934,производитель работ (мастер смр),"[0.0021199216, -0.020302437, -0.043662004, -0....",7

In [22]:
unique_job_list_small[unique_job_list_small['class_0'] == 20][:100]

,job_title,vector_0,class_0
125,мастер смены,"[0.027568826, -0.02251193, -0.05016806, -0.034...",20
19577,мастер смены тэц,"[0.044571325, -0.0094394265, -0.034007136, -0....",20
56018,"мастер, сменный","[0.031184668, 0.01656102, -0.04844541, -0.0395...",20
64723,мастер смены оф,"[0.017246453, -0.024005458, -0.05929423, -0.02...",20
87091,мастер сменный,"[0.04590152, -0.009157809, -0.032783624, -0.03...",20
115287,мастера смены,"[0.035298042, -0.023109501, -0.06783435, -0.03...",20
159357,мастер смены,"[0.027568826, -0.02251193, -0.05016806, -0.034...",20
174717,мастер сменв,"[0.048574187, -0.016323475, -0.041194662, -0.0...",20
235215,мастер-смены,"[0.03944901, -0.0064592334, -0.04580248, -0.04...",20
253599,мастер смены адс,"[0.034038056, -0.040171333, -0.023878967, -0.0...",20
265810,мастер смены сто,"[0.025604209, -0.009963291, -0.05664017, -0.03...",20
328057,мастер смены отк,"[0.01253017, -0.025027605, -0.044903036, -0.02...",20
372722,мастер смены зиф,"[0.025761427, -0.01250753, -0.03676268, -0.028...",20
433112,мастер смены ктс,"[0.048754647, -0.025073746, -0.03265544, -0.02...",20
458465,мастер сменны,"[0.051691383, -0.037587993, -0.044171043, -0.0...",20

In [23]:
unique_job_list_small[unique_job_list_small['class_0'] == 21][:100]

,job_title,vector_0,class_0
143,руководитель группы учета,"[0.040974636, 0.004653543, -0.02983334, -0.037...",21
23869,руководитель группы отдела сводного учета,"[0.027811283, 0.0045570666, -0.010662161, -0.0...",21
29452,руководитель расчетной группы,"[0.0041164155, 0.020069756, -0.029324386, -0.0...",21
37807,руководитель сметной группы,"[-0.003914697, 0.014880308, -0.03059929, -0.06...",21
58921,начальник расчетной группы,"[0.021962252, 0.01891547, -0.04474191, -0.0597...",21
62374,руководитель группы сметных расчетов,"[-0.008682183, -0.0013465376, -0.039942026, -0...",21
73588,руководитель группы расчетов,"[0.0031642895, -0.0066291145, -0.04813214, -0....",21
76735,руководитель группы сметного отдела,"[0.006137812, 0.006157382, -0.03319561, -0.062...",21
86344,руководитель группы учета,"[0.040974636, 0.004653543, -0.02983334, -0.037...",21
110190,руководитель группы сметных расчётов,"[-0.016661625, 0.006595547, -0.028222093, -0.0...",21
113625,руководитель группы отдела бух. учёта,"[0.02312281, 0.018181778, -0.018834686, -0.047...",21
156299,начальник сметной группы,"[0.014528604, 0.013481882, -0.04711533, -0.057...",21
436037,руководитель группы сметчиков,"[0.0034937349, 0.010143972, -0.035166334, -0.0...",21
461293,начальник учётной группы,"[0.048076242, 0.009967745, -0.039789297, -0.04...",21

In [26]:
unique_job_list_small[unique_job_list_small['class_0'] == 24][:100]

,job_title,vector_0,class_0
150,инженер защиты и охраны леса,"[0.044147488, 0.04958962, 0.039636776, -0.0915...",24
15126,инженер по охране и защите леса,"[0.040978927, 0.07233069, 0.022543201, -0.0692...",24
48871,инженер охраны и защиты леса,"[0.043570846, 0.050354, 0.03984548, -0.0895093...",24
75430,инспектор по охране и защите леса,"[0.06491234, 0.056659937, 0.018852146, -0.0738...",24
105547,инспектор по охране леса на участке охраны и ...,"[0.05521, 0.03014421, 0.016973238, -0.08058007...",24
154907,инженер по охране и защите леса,"[0.040978927, 0.07233069, 0.022543201, -0.0692...",24
241966,"инженер по охране, защите леса","[0.009680278, 0.05805455, 0.012218982, -0.0693...",24
266853,инженер по защите и охране леса,"[0.040278174, 0.070944436, 0.024196174, -0.069...",24
267660,иженер охраны и защиты леса,"[0.059490386, 0.040281903, 0.06630536, -0.0956...",24
270976,специалист по охране и защите леса,"[0.068502575, 0.056194585, 0.020226233, -0.067...",24
370831,специалист по охране и защите леса и лесовосст...,"[0.081173025, 0.045399643, 0.035094287, -0.065...",24
420580,ио инженера по охране защите леса,"[-0.022228004, 0.037359253, 0.009984325, -0.07...",24
420796,и.о. инженера по охране и защите леса,"[0.007927515, 0.06126656, -0.0025090568, -0.07...",24
433993,инженер по охране и защите лесов,"[0.03943038, 0.068228304, 0.029364439, -0.0693...",24

## Доуточнение с помощью итеративного DBSCAN

In [28]:
# Вычисляем средние значения 'vector_0' для каждого класса, кроме классов -1 и 0
mean_vectors = unique_job_list_small[unique_job_list_small['class_0'].isin([-1, 0]) == False].groupby('class_0')['vector_0'].transform('mean')

# Создаем новую колонку 'mean_vector_0', где:
# - для классов -1 и 0 сохраняем исходное значение 'vector_0'
# - для остальных классов присваиваем среднее значение 'vector_0' внутри соответствующего класса
unique_job_list_small['mean_vector_0'] = unique_job_list_small.apply(
    lambda row: row['vector_0'] if row['class_0'] in [-1, 0]  # если класс -1 или 0, берем исходный 'vector_0'
    else mean_vectors[row.name],  # иначе берем среднее значение для данного класса
    axis=1  # применяем функцию к каждой строке
)

In [29]:
# Выбираем все строки, где значение в колонке 'class_0' равно -1 или 0
df_negative_or_zero = unique_job_list_small[unique_job_list_small['class_0'].isin([-1, 0])]

# Выбираем по одной случайной строке для каждого класса, кроме классов -1 и 0
df_other_classes = unique_job_list_small[unique_job_list_small['class_0'].isin([-1, 0]) == False].groupby('class_0').sample(n=1, random_state=1)

# Объединяем два DataFrame: все строки с классами -1 и 0 + по одной строке из остальных классов
unique_job_list_small = pd.concat([df_negative_or_zero, df_other_classes])

unique_job_list_small.head(20)

,job_title,vector_0,class_0,mean_vector_0
0,"старший инспектор отдела пособий,субсидий и ко...","[0.030501965, 0.012508502, -0.055463985, -0.13...",-1,"[0.030501965, 0.012508502, -0.055463985, -0.13..."
1,инспектор отдела муниципальных закупок и имуще...,"[0.11537887, -0.001824434, 0.030480817, -0.089...",-1,"[0.11537887, -0.001824434, 0.030480817, -0.089..."
2,ведущий геолог,"[-0.02707592, 0.033282503, 0.03790604, -0.1112...",0,"[-0.02707592, 0.033282503, 0.03790604, -0.1112..."
4,начальник горного отряда,"[0.031840302, 0.0015570363, -0.008545109, -0.1...",-1,"[0.031840302, 0.0015570363, -0.008545109, -0.1..."
5,геолог горного отряда,"[0.032704916, 0.010802099, 0.027436346, -0.100...",-1,"[0.032704916, 0.010802099, 0.027436346, -0.100..."
6,"ведущий геолог камеральной группы, старший гео...","[0.012428342, 0.03692716, 0.039867546, -0.0982...",-1,"[0.012428342, 0.03692716, 0.039867546, -0.0982..."
7,"ведущий геолог камеральной группы, главный гео...","[-0.048368137, 0.025798205, 0.017690176, -0.11...",0,"[-0.048368137, 0.025798205, 0.017690176, -0.11..."
8,"заместитель начальника отдела экономики, промы...","[0.08575809, -0.025911864, -0.0017935511, -0.1...",-1,"[0.08575809, -0.025911864, -0.0017935511, -0.1..."
9,"заместитель генерального директора, начальник ...","[-0.0003442502, -0.023291621, -0.038129363, -0...",0,"[-0.0003442502, -0.023291621, -0.038129363, -0..."
10,заместитель генерального директора,"[0.0014275342, -0.036567856, -0.034488212, -0....",0,"[0.0014275342, -0.036567856, -0.034488212, -0...."
11,"участковый геолог, геолог ii категории, руково...","[-0.0048064464, 0.027250076, 0.037598442, -0.1...",-1,"[-0.0048064464, 0.027250076, 0.037598442, -0.1..."
13,"геолог геолого-съемочной партии (ггс 50, гдп 50)","[0.034879096, -0.002766466, -0.006614778, -0.0...",-1,"[0.034879096, -0.002766466, -0.006614778, -0.0..."
14,техник-геолог,"[0.0017759694, 0.03234399, 0.034928996, -0.095...",0,"[0.0017759694, 0.03234399, 0.034928996, -0.095..."
15,участковый геолог руд. «верхне-менкече,"[-0.0027547614, 0.0058634174, 0.028615493, -0....",-1,"[-0.0027547614, 0.0058634174, 0.028615493, -0...."
16,начальник горного отряда,"[0.031840302, 0.0015570363, -0.008545109, -0.1...",-1,"[0.031840302, 0.0015570363, -0.008545109, -0.1..."
19,"участковый геолог, геолог ii категории, руков...","[-0.0048064464, 0.027250076, 0.037598442, -0.1...",-1,"[-0.0048064464, 0.027250076, 0.037598442, -0.1..."
20,начальник поискового отряда партии агрохимичес...,"[0.041395992, -0.051508088, 0.041372452, -0.13...",-1,"[0.041395992, -0.051508088, 0.041372452, -0.13..."
21,фрезеровщик 2 разряда,"[0.057334285, -0.03365919, -0.0009646478, -0.0...",0,"[0.057334285, -0.03365919, -0.0009646478, -0.0..."
22,участковый геолог,"[0.0039225346, 0.004658122, 0.04400064, -0.086...",0,"[0.0039225346, 0.004658122, 0.04400064, -0.086..."
23,инженер лаборант,"[0.000520047, 0.013465123, 0.007475476, -0.073...",0,"[0.000520047, 0.013465123, 0.007475476, -0.073..."

In [30]:
# Обучаем DBSCAN

dbscan = DBSCAN(eps=0.3, min_samples=3)
dbscan.fit(list(unique_job_list_small['mean_vector_0']))
unique_job_list_small['class_1'] = dbscan.labels_

In [31]:
classes, counts = np.unique(dbscan.labels_, return_counts=True)

for i, j in zip(classes, counts):
    print(f'Class: {i}, count {j}')

Class: -1, count 226930
Class: 0, count 219815
Class: 1, count 6
Class: 2, count 3
Class: 3, count 3
Class: 4, count 4
Class: 5, count 3
Class: 6, count 3
Class: 7, count 3
Class: 8, count 5
Class: 9, count 3
Class: 10, count 4
Class: 11, count 3
Class: 12, count 4
Class: 13, count 3
Class: 14, count 4
Class: 15, count 3
Class: 16, count 4
Class: 17, count 4
Class: 18, count 3
Class: 19, count 4
Class: 20, count 3
Class: 21, count 3
Class: 22, count 5
Class: 23, count 4
Class: 24, count 3
Class: 25, count 3
Class: 26, count 4
Class: 27, count 3
Class: 28, count 3
Class: 29, count 3
Class: 30, count 4
Class: 31, count 3
Class: 32, count 3
Class: 33, count 3
Class: 34, count 3
Class: 35, count 3
Class: 36, count 4
Class: 37, count 3
Class: 38, count 3
Class: 39, count 3
Class: 40, count 3
Class: 41, count 4
Class: 42, count 3
Class: 43, count 3
Class: 44, count 3
Class: 45, count 3
Class: 46, count 5
Class: 47, count 3
Class: 48, count 3
Class: 49, count 3
Class: 50, count 3
Class: 51, count 3
Class: 52, count 3
Class: 53, count 3
Class: 54, count 3
Class: 55, count 3
Class: 56, count 5
Class: 57, count 3
Class: 58, count 5
Class: 59, count 3
Class: 60, count 3
Class: 61, count 3
Class: 62, count 4
Class: 63, count 4
Class: 64, count 3
Class: 65, count 3
Class: 66, count 3
Class: 67, count 3
Class: 68, count 3
Class: 69, count 3
Class: 70, count 3
Class: 71, count 3
Class: 72, count 3
Class: 73, count 4
Class: 74, count 3
Class: 75, count 3
Class: 76, count 3
Class: 77, count 3
Class: 78, count 3
Class: 79, count 3
Class: 80, count 3
Class: 81, count 3
Class: 82, count 3
Class: 83, count 3
Class: 84, count 4
Class: 85, count 4
Class: 86, count 3
Class: 87, count 3
Class: 88, count 3
Class: 89, count 3
Class: 90, count 3
Class: 91, count 3
Class: 92, count 3
Class: 93, count 3
Class: 94, count 4
Class: 95, count 4
Class: 96, count 3
Class: 97, count 3
Class: 98, count 3
Class: 99, count 3
Class: 100, count 3
Class: 101, count 3
Class: 102, count 3
Class: 103, count 5
Class: 104, count 3
Class: 105, count 3
Class: 106, count 3
Class: 107, count 3
Class: 108, count 3
Class: 109, count 4
Class: 110, count 3
Class: 111, count 3
Class: 112, count 3
Class: 113, count 5
Class: 114, count 3
Class: 115, count 4
Class: 116, count 7
Class: 117, count 3
Class: 118, count 4
Class: 119, count 3
Class: 120, count 3
Class: 121, count 3
Class: 122, count 5
Class: 123, count 3
Class: 124, count 4
Class: 125, count 3
Class: 126, count 4
Class: 127, count 3
Class: 128, count 3
Class: 129, count 3
Class: 130, count 3
Class: 131, count 3
Class: 132, count 5
Class: 133, count 3
Class: 134, count 4
Class: 135, count 3
Class: 136, count 3
Class: 137, count 3
Class: 138, count 4
Class: 139, count 4
Class: 140, count 3
Class: 141, count 3
Class: 142, count 3
Class: 143, count 3
Class: 144, count 3
Class: 145, count 3
Class: 146, count 3
Class: 147, count 3
Class: 148, count 5
Class: 149, count 3
Class: 150, count 3
Class: 151, count 3
Class: 152, count 3
Class: 153, count 4
Class: 154, count 4
Class: 155, count 3
Class: 156, count 3
Class: 157, count 3
Class: 158, count 3
Class: 159, count 3
Class: 160, count 3
Class: 161, count 4
Class: 162, count 3
Class: 163, count 3
Class: 164, count 3
Class: 165, count 3
Class: 166, count 3
Class: 167, count 3
Class: 168, count 3
Class: 169, count 4
Class: 170, count 3
Class: 171, count 3
Class: 172, count 5
Class: 173, count 4
Class: 174, count 5
Class: 175, count 3
Class: 176, count 3
Class: 177, count 3
Class: 178, count 3
Class: 179, count 3
Class: 180, count 3
Class: 181, count 3
Class: 182, count 3
Class: 183, count 4
Class: 184, count 3
Class: 185, count 3
Class: 186, count 3
Class: 187, count 3
Class: 188, count 3
Class: 189, count 3
Class: 190, count 3
Class: 191, count 4
Class: 192, count 3
Class: 193, count 3
Class: 194, count 3
Class: 195, count 4
Class: 196, count 3
Class: 197, count 4
Class: 198, count 4
Class: 199, count 3
Class: 200, count 3
Class: 201, count 3
Class: 202, count 5
Class: 203, count 3
Class: 204, count 3
Class: 205, count 4
Class: 206, count 5
Class: 207, count 3
Class: 208, count 3
Class: 209, count 4
Class: 210, count 4
Class: 211, count 5
Class: 212, count 3
Class: 213, count 3
Class: 214, count 4
Class: 215, count 3
Class: 216, count 3
Class: 217, count 3
Class: 218, count 3
Class: 219, count 3
Class: 220, count 3
Class: 221, count 3
Class: 222, count 4
Class: 223, count 3
Class: 224, count 3
Class: 225, count 4
Class: 226, count 3
Class: 227, count 3
Class: 228, count 3
Class: 229, count 4
Class: 230, count 4
Class: 231, count 3
Class: 232, count 3
Class: 233, count 3
Class: 234, count 4
Class: 235, count 4
Class: 236, count 3
Class: 237, count 4
Class: 238, count 3
Class: 239, count 3
Class: 240, count 3
Class: 241, count 3
Class: 242, count 3
Class: 243, count 5
Class: 244, count 3
Class: 245, count 3
Class: 246, count 3
Class: 247, count 3
Class: 248, count 3
Class: 249, count 3
Class: 250, count 3
Class: 251, count 3
Class: 252, count 3
Class: 253, count 5
Class: 254, count 3
Class: 255, count 3
Class: 256, count 3
Class: 257, count 3
Class: 258, count 3
Class: 259, count 3
Class: 260, count 3
Class: 261, count 3
Class: 262, count 3
Class: 263, count 3
Class: 264, count 3
Class: 265, count 4
Class: 266, count 3
Class: 267, count 3
Class: 268, count 3
Class: 269, count 3
Class: 270, count 3
Class: 271, count 3
Class: 272, count 3
Class: 273, count 3
Class: 274, count 4
Class: 275, count 3
Class: 276, count 3
Class: 277, count 3
Class: 278, count 4
Class: 279, count 3
Class: 280, count 4
Class: 281, count 3
Class: 282, count 3
Class: 283, count 5
Class: 284, count 3
Class: 285, count 4
Class: 286, count 3
Class: 287, count 3
Class: 288, count 3
Class: 289, count 3
Class: 290, count 3
Class: 291, count 3
Class: 292, count 3
Class: 293, count 3
Class: 294, count 3
Class: 295, count 3
Class: 296, count 3
Class: 297, count 3
Class: 298, count 3

In [32]:
unique_job_list_small[unique_job_list_small['class_1'] == 21][:100]

,job_title,vector_0,class_0,mean_vector_0,class_1
53836,организатор досуга,"[0.06817025, -0.0114520425, 0.047077913, -0.08...",-1,"[0.06817025, -0.0114520425, 0.047077913, -0.08...",21
469312,организатор досуга подопечных,"[0.07236333, -0.01623024, 0.022799172, -0.0966...",-1,"[0.07236333, -0.01623024, 0.022799172, -0.0966...",21
266678,организатор досуговой работы,"[0.059032414, -0.005196988, 0.036127422, -0.08...",5712,"[0.059970878064632416, -0.0019067727262154222,...",21

In [33]:
unique_job_list_small[unique_job_list_small['class_1'] == 22][:100]

,job_title,vector_0,class_0,mean_vector_0,class_1
60737,"медицинская сестра диагностического отделения,...","[-0.04630151, -0.013159464, 0.01761111, -0.144...",-1,"[-0.04630151, -0.013159464, 0.01761111, -0.144...",22
68154,медицинская сестра участковая; медицинская сес...,"[-0.051428318, -0.016395112, 0.03557915, -0.20...",-1,"[-0.051428318, -0.016395112, 0.03557915, -0.20...",22
153328,"старшая медицинская сестра, участковая медицин...","[-0.053858664, -0.019494811, -0.029806005, -0....",-1,"[-0.053858664, -0.019494811, -0.029806005, -0....",22
192367,"медицинская сестра опер. блока, медицинская се...","[-0.05179934, 0.0018882231, 0.0048510022, -0.1...",-1,"[-0.05179934, 0.0018882231, 0.0048510022, -0.1...",22
314519,"участковая медицинская сестра, процедурная мед...","[-0.06825189, -0.026145194, 0.006993107, -0.17...",5989,"[-0.05233485500017802, -0.0241134117046992, -0...",22

In [34]:
unique_job_list_small[unique_job_list_small['class_1'] == 23][:100]

,job_title,vector_0,class_0,mean_vector_0,class_1
61044,специалист отдела возвратов,"[-0.0035018262, -0.024023663, -0.007412191, -0...",-1,"[-0.0035018262, -0.024023663, -0.007412191, -0...",23
324913,специалист по работе с возвратами,"[-0.0037238328, -0.004878256, -0.012685444, -0...",-1,"[-0.0037238328, -0.004878256, -0.012685444, -0...",23
356985,специалист отдела возврата,"[-0.007829693, -0.02585615, -0.013646189, -0.0...",-1,"[-0.007829693, -0.02585615, -0.013646189, -0.0...",23
197054,специалист по обработке возврата,"[-0.01358591, -0.029933516, -0.004568601, -0.0...",7353,"[-0.012316608801484108, -0.022568408399820328,...",23

## Доуточнение с помощью NearestNeighbors

In [35]:
no_noize_vectors = list(unique_job_list_small[unique_job_list_small['class_0'].isin([-1, 0]) == False]['vector_0'])
no_noize_classes = list(unique_job_list_small[unique_job_list_small['class_0'].isin([-1, 0]) == False]['class_0'])

knn = NearestNeighbors(n_neighbors=1)
knn.fit(no_noize_vectors)

NearestNeighbors(n_neighbors=1)

In [36]:
class_1 = {}

for index, row in unique_job_list_small[unique_job_list_small['class_0'].isin([-1, 0])].iterrows():
    distances, indices = knn.kneighbors(row['vector_0'].reshape(1, -1), n_neighbors=1)
    class_1[index] = no_noize_classes[indices.item()]

unique_job_list_small['class_1'] = unique_job_list_small['class_0']

for key, value in class_1.items():
    unique_job_list_small.loc[key, 'class_1'] = value

In [37]:
unique_job_list_small.head(20)

,job_title,vector_0,class_0,mean_vector_0,class_1
0,"старший инспектор отдела пособий,субсидий и ко...","[0.030501965, 0.012508502, -0.055463985, -0.13...",-1,"[0.030501965, 0.012508502, -0.055463985, -0.13...",6679
1,инспектор отдела муниципальных закупок и имуще...,"[0.11537887, -0.001824434, 0.030480817, -0.089...",-1,"[0.11537887, -0.001824434, 0.030480817, -0.089...",1898
2,ведущий геолог,"[-0.02707592, 0.033282503, 0.03790604, -0.1112...",0,"[-0.02707592, 0.033282503, 0.03790604, -0.1112...",128
4,начальник горного отряда,"[0.031840302, 0.0015570363, -0.008545109, -0.1...",-1,"[0.031840302, 0.0015570363, -0.008545109, -0.1...",9367
5,геолог горного отряда,"[0.032704916, 0.010802099, 0.027436346, -0.100...",-1,"[0.032704916, 0.010802099, 0.027436346, -0.100...",128
6,"ведущий геолог камеральной группы, старший гео...","[0.012428342, 0.03692716, 0.039867546, -0.0982...",-1,"[0.012428342, 0.03692716, 0.039867546, -0.0982...",6425
7,"ведущий геолог камеральной группы, главный гео...","[-0.048368137, 0.025798205, 0.017690176, -0.11...",0,"[-0.048368137, 0.025798205, 0.017690176, -0.11...",7286
8,"заместитель начальника отдела экономики, промы...","[0.08575809, -0.025911864, -0.0017935511, -0.1...",-1,"[0.08575809, -0.025911864, -0.0017935511, -0.1...",8529
9,"заместитель генерального директора, начальник ...","[-0.0003442502, -0.023291621, -0.038129363, -0...",0,"[-0.0003442502, -0.023291621, -0.038129363, -0...",7025
10,заместитель генерального директора,"[0.0014275342, -0.036567856, -0.034488212, -0....",0,"[0.0014275342, -0.036567856, -0.034488212, -0....",1349
11,"участковый геолог, геолог ii категории, руково...","[-0.0048064464, 0.027250076, 0.037598442, -0.1...",-1,"[-0.0048064464, 0.027250076, 0.037598442, -0.1...",6009
13,"геолог геолого-съемочной партии (ггс 50, гдп 50)","[0.034879096, -0.002766466, -0.006614778, -0.0...",-1,"[0.034879096, -0.002766466, -0.006614778, -0.0...",9055
14,техник-геолог,"[0.0017759694, 0.03234399, 0.034928996, -0.095...",0,"[0.0017759694, 0.03234399, 0.034928996, -0.095...",128
15,участковый геолог руд. «верхне-менкече,"[-0.0027547614, 0.0058634174, 0.028615493, -0....",-1,"[-0.0027547614, 0.0058634174, 0.028615493, -0....",128
16,начальник горного отряда,"[0.031840302, 0.0015570363, -0.008545109, -0.1...",-1,"[0.031840302, 0.0015570363, -0.008545109, -0.1...",9367
19,"участковый геолог, геолог ii категории, руков...","[-0.0048064464, 0.027250076, 0.037598442, -0.1...",-1,"[-0.0048064464, 0.027250076, 0.037598442, -0.1...",6009
20,начальник поискового отряда партии агрохимичес...,"[0.041395992, -0.051508088, 0.041372452, -0.13...",-1,"[0.041395992, -0.051508088, 0.041372452, -0.13...",876
21,фрезеровщик 2 разряда,"[0.057334285, -0.03365919, -0.0009646478, -0.0...",0,"[0.057334285, -0.03365919, -0.0009646478, -0.0...",436
22,участковый геолог,"[0.0039225346, 0.004658122, 0.04400064, -0.086...",0,"[0.0039225346, 0.004658122, 0.04400064, -0.086...",3476
23,инженер лаборант,"[0.000520047, 0.013465123, 0.007475476, -0.073...",0,"[0.000520047, 0.013465123, 0.007475476, -0.073...",9326

In [49]:
unique_job_list_small[unique_job_list_small['class_1'] == 1][:50]

,job_title,vector_0,class_0,mean_vector_0,class_1
1473,инженер-топограф,"[-0.010013919, 0.036876537, 0.0044496716, -0.0...",0,"[-0.010013919, 0.036876537, 0.0044496716, -0.0...",1
4916,инженер-картограф,"[-0.019532913, 0.028782489, 0.0030482863, -0.0...",0,"[-0.019532913, 0.028782489, 0.0030482863, -0.0...",1
19254,техник-топограф,"[0.010134748, 0.01967238, 0.016243173, -0.0823...",0,"[0.010134748, 0.01967238, 0.016243173, -0.0823...",1
100860,топограф-геодезист,"[-0.008572009, 0.03146165, 0.026152084, -0.096...",0,"[-0.008572009, 0.03146165, 0.026152084, -0.096...",1
168320,инженер-картограф ii кат,"[-0.017138889, 0.03375821, 0.027736485, -0.085...",0,"[-0.017138889, 0.03375821, 0.027736485, -0.085...",1
168321,инженер-картограф i кат,"[-0.033911332, 0.04241836, 0.024479907, -0.092...",0,"[-0.033911332, 0.04241836, 0.024479907, -0.092...",1
177916,инженер топограф,"[-0.008580241, 0.016277783, -0.004847866, -0.0...",0,"[-0.008580241, 0.016277783, -0.004847866, -0.0...",1
182033,"геофизик 1кат, ответственный исполнитель","[-0.052311644, 0.04623198, 0.010356098, -0.115...",-1,"[-0.052311644, 0.04623198, 0.010356098, -0.115...",1
187788,геодезист-топограф,"[-0.016078653, 0.027825283, 0.039463747, -0.10...",0,"[-0.016078653, 0.027825283, 0.039463747, -0.10...",1
196996,инженер - топограф,"[-0.010013919, 0.036876537, 0.0044496716, -0.0...",0,"[-0.010013919, 0.036876537, 0.0044496716, -0.0...",1
205466,инженер – топограф,"[-0.014206269, 0.033621762, -0.0019818188, -0....",0,"[-0.014206269, 0.033621762, -0.0019818188, -0....",1
249879,техник -топограф,"[0.010134748, 0.01967238, 0.016243173, -0.0823...",0,"[0.010134748, 0.01967238, 0.016243173, -0.0823...",1
255290,техник - топограф,"[0.010134748, 0.01967238, 0.016243173, -0.0823...",0,"[0.010134748, 0.01967238, 0.016243173, -0.0823...",1
262779,геолог цднг-1 «п,"[0.035228748, 0.041252784, 0.051218595, -0.057...",-1,"[0.035228748, 0.041252784, 0.051218595, -0.057...",1
305971,геодезист - топограф,"[-0.016078653, 0.027825283, 0.039463747, -0.10...",0,"[-0.016078653, 0.027825283, 0.039463747, -0.10...",1
313150,инженер -картограф,"[-0.019532913, 0.028782489, 0.0030482863, -0.0...",0,"[-0.019532913, 0.028782489, 0.0030482863, -0.0...",1
320811,"топограф, геодезист 1-й категории, кадастровый...","[-0.03436698, 0.00915239, 0.0074815527, -0.087...",-1,"[-0.03436698, 0.00915239, 0.0074815527, -0.087...",1
381216,инженер - картограф,"[-0.019532913, 0.028782489, 0.0030482863, -0.0...",0,"[-0.019532913, 0.028782489, 0.0030482863, -0.0...",1
381401,"топограф по согласованию, топограф 1 категории","[-0.019875307, 0.00041688682, -0.013598022, -0...",-1,"[-0.019875307, 0.00041688682, -0.013598022, -0...",1
396203,техник-геодезист / чертежник,"[-0.014921718, 0.044600107, 0.058636, -0.12915...",0,"[-0.014921718, 0.044600107, 0.058636, -0.12915...",1
489794,техник-топограф 1 кт. полевой партии,"[0.015703546, 0.0030086178, 0.04961295, -0.088...",-1,"[0.015703546, 0.0030086178, 0.04961295, -0.088...",1
489800,инженер-геодезист 1 кт. полевой партии,"[-0.016480723, 0.026099132, 0.060262736, -0.10...",-1,"[-0.016480723, 0.026099132, 0.060262736, -0.10...",1
249816,инженер-топограф 1кат,"[-0.015656454, 0.029368032, 0.03402422, -0.068...",1,"[-0.005923989746305678, 0.021324492825402153, ...",1

In [50]:
unique_job_list_small[unique_job_list_small['class_1'] == 2][:50]

,job_title,vector_0,class_0,mean_vector_0,class_1
1486,слесарь по ремонту оборудования - 5 разряда,"[-0.054416765, -0.0015305813, -0.0084739635, -...",0,"[-0.054416765, -0.0015305813, -0.0084739635, -...",2
2473,слесарь по ремонту технологических установок 5...,"[-0.05578018, -0.02521428, -0.010282361, -0.06...",0,"[-0.05578018, -0.02521428, -0.010282361, -0.06...",2
5553,слесарь-ремонтник 5 разряда,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",0,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",2
18996,слесарь-ремонтник 5-го разряда,"[-0.031951353, 0.00082882855, -0.016506974, -0...",0,"[-0.031951353, 0.00082882855, -0.016506974, -0...",2
26515,слесарь ремонтник металлургического оборудован...,"[-0.04190941, -0.037415214, 0.0015950393, -0.0...",0,"[-0.04190941, -0.037415214, 0.0015950393, -0.0...",2
35758,слесарь ремонтник 5-го разряда,"[-0.034159254, -0.018567085, -0.016573304, -0....",0,"[-0.034159254, -0.018567085, -0.016573304, -0....",2
35801,слесарь -ремонтник 5 разряда,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",0,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",2
40539,ремонтно вспомогательная служба. слесарь ремон...,"[-0.044093683, -0.001988537, -0.021102475, -0....",0,"[-0.044093683, -0.001988537, -0.021102475, -0....",2
45144,слесарь по ремонту ру 5 разряда,"[-0.04103485, -0.008484924, -0.0257925, -0.027...",0,"[-0.04103485, -0.008484924, -0.0257925, -0.027...",2
45327,слесарь по ремонту обогатительного оборудовани...,"[-0.037709087, -0.0041465983, 0.025835618, -0....",0,"[-0.037709087, -0.0041465983, 0.025835618, -0....",2
47753,слесарь по ремонту технологических установок 5...,"[-0.050358452, -0.027426237, 9.3657094e-05, -0...",0,"[-0.050358452, -0.027426237, 9.3657094e-05, -0...",2
47840,слесарь ремонтник 5-ого разряда,"[-0.04288991, -0.01557469, -0.014343702, -0.06...",0,"[-0.04288991, -0.01557469, -0.014343702, -0.06...",2
49773,слесарь по ремонту технологических установок 5...,"[-0.054738775, -0.026300844, 0.0012619173, -0....",0,"[-0.054738775, -0.026300844, 0.0012619173, -0....",2
52448,слесарь по ремонту горного оборудования 5 разряда,"[-0.035297792, -0.032888457, 0.0091754515, -0....",0,"[-0.035297792, -0.032888457, 0.0091754515, -0....",2
54019,слесарь аварийно восстановительных работ 5 раз...,"[-0.054907866, -0.038192946, -0.046493128, -0....",-1,"[-0.054907866, -0.038192946, -0.046493128, -0....",2
54155,слесарь-ремонтник нпо 5 разряда,"[-0.026342575, 0.016175559, -0.009252826, -0.0...",0,"[-0.026342575, 0.016175559, -0.009252826, -0.0...",2
58817,слесарь - ремонтник 5 разряда,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",0,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",2
69135,слесарь по ремонту технологических установок 5...,"[-0.059114926, -0.029773489, 0.009940039, -0.0...",0,"[-0.059114926, -0.029773489, 0.009940039, -0.0...",2
69832,слесарь-ремонтник бурового оборудования 5 разряда,"[-0.04877964, -0.00023077367, 0.0071758362, -0...",0,"[-0.04877964, -0.00023077367, 0.0071758362, -0...",2
73404,слесарь-ремонтник 5 раз,"[-0.035395652, 0.012007195, -0.022267861, -0.0...",0,"[-0.035395652, 0.012007195, -0.022267861, -0.0...",2
80843,слесарь-ремонтик 5 разряда,"[-0.033055514, 8.8179223e-07, -0.027111433, -0...",0,"[-0.033055514, 8.8179223e-07, -0.027111433, -0...",2
81519,слесарь ремонтник-5 го разряда,"[-0.032845534, -0.005946825, -0.018325157, -0....",0,"[-0.032845534, -0.005946825, -0.018325157, -0....",2
81689,слесарь-ремонтник 5-ого разряда,"[-0.039965324, 0.004034935, -0.01464395, -0.07...",0,"[-0.039965324, 0.004034935, -0.01464395, -0.07...",2
82737,слесарь-ремонтник 5 разряда ремонтной службы к...,"[-0.046156332, -0.0072038, -0.032917142, -0.10...",0,"[-0.046156332, -0.0072038, -0.032917142, -0.10...",2
84951,слесарь авр (аварийно-восстановительных работ)...,"[-0.04203974, -0.019841507, -0.030201, -0.0618...",-1,"[-0.04203974, -0.019841507, -0.030201, -0.0618...",2
85911,переведен слесарем-ремонтником по 5 разряду,"[-0.05341297, -0.031000534, -0.07932675, -0.04...",-1,"[-0.05341297, -0.031000534, -0.07932675, -0.04...",2
87404,слесарь-ремонтник 5 разряда энергетического цеха,"[-0.035503805, -0.0010655995, -0.015418587, -0...",0,"[-0.035503805, -0.0010655995, -0.015418587, -0...",2
87585,слесарь по ремонту подвижного состава 5-й разряд,"[-0.061650276, -0.031548146, -0.004107474, -0....",0,"[-0.061650276, -0.031548146, -0.004107474, -0....",2
92755,слесарь-ремонтник 5 разряда участка кранового ...,"[-0.031039918, -0.03896295, -0.014915374, -0.0...",-1,"[-0.031039918, -0.03896295, -0.014915374, -0.0...",2
98442,слесарь по ремонту технологических установок 5...,"[-0.05385888, -0.021949505, -0.00076116435, -0...",0,"[-0.05385888, -0.021949505, -0.00076116435, -0...",2
100278,слесарь по ремонту нгпо 5 разряда,"[-0.027475866, -0.006057883, -0.00898661, -0.0...",0,"[-0.027475866, -0.006057883, -0.00898661, -0.0...",2
102430,слесарь по ремонту технологических установок 5...,"[-0.053421844, -0.03048041, 0.01273179, -0.076...",0,"[-0.053421844, -0.03048041, 0.01273179, -0.076...",2
102518,слесарь ремонтно-механических мастерских 5-го ...,"[-0.022737095, -0.032877114, -0.020281322, -0....",-1,"[-0.022737095, -0.032877114, -0.020281322, -0....",2
103298,слесарь ремонтник технологических установок 5...,"[-0.049944934, -0.023817725, 0.0032582849, -0....",0,"[-0.049944934, -0.023817725, 0.0032582849, -0....",2
103326,слесарь ремонту бурового оборудования 5-го раз...,"[-0.039002713, -0.020550217, 0.015346644, -0.0...",0,"[-0.039002713, -0.020550217, 0.015346644, -0.0...",2
107299,слесарь по ремонту агрегатов 5 разряда,"[-0.04538864, -0.022449875, -0.034866095, -0.0...",0,"[-0.04538864, -0.022449875, -0.034866095, -0.0...",2
109844,слесарь-ремонтник 5го разряда,"[-0.04120926, 0.0028576974, -0.025082521, -0.0...",0,"[-0.04120926, 0.0028576974, -0.025082521, -0.0...",2
111868,слесарь- ремонтник 5 разряда,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",0,"[-0.039965328, 0.0067225904, -0.02988637, -0.0...",2
115713,слесарь-ремонтник 5 разряда. мастер по ремонту...,"[-0.049481582, 0.016122712, -0.02177305, -0.08...",0,"[-0.049481582, 0.016122712, -0.02177305, -0.08...",2
118431,от рабочего до слесаря по ремонту технологичес...,"[-0.06655494, -0.04945114, -0.03681361, -0.065...",0,"[-0.06655494, -0.04945114, -0.03681361, -0.065...",2
120162,слесарт-ремонтник 5 разряда,"[-0.028961807, 0.0054640872, -0.027087713, -0....",0,"[-0.028961807, 0.0054640872, -0.027087713, -0....",2
126130,слесарь по ремонту технологических установок 5р,"[-0.059495952, -0.010225489, 0.008056754, -0.0...",0,"[-0.059495952, -0.010225489, 0.008056754, -0.0...",2
129037,слесарь 5-го разряда по ремонту технологически...,"[-0.056571435, -0.013890826, -0.023281205, -0....",0,"[-0.056571435, -0.013890826, -0.023281205, -0....",2
131971,слесарь по ремонту технологических установок-5...,"[-0.05380473, -0.013887131, -0.005000867, -0.0...",0,"[-0.05380473, -0.013887131, -0.005000867, -0.0...",2
149775,слесарь-ремонтник дежурный 5 разряда,"[-0.031324755, 0.009002171, -0.01917428, -0.09...",0,"[-0.031324755, 0.009002171, -0.01917428, -0.09...",2
151720,слесарем-ремонтником 5 разряда в ремонтно-меха...,"[-0.065349914, -0.016345246, -0.034466963, -0....",-1,"[-0.065349914, -0.016345246, -0.034466963, -0....",2
152741,слесарь-ремонтник 5 разряда сернокислотного цеха,"[-0.01976336, -0.016726324, -0.032212716, -0.0...",0,"[-0.01976336, -0.016726324, -0.032212716, -0.0...",2
154187,слесарь-ремонтник по 5 разряду,"[-0.04494784, 0.009494279, -0.039774135, -0.06...",0,"[-0.04494784, 0.009494279, -0.039774135, -0.06...",2
162840,5разряд слесаря ремонтника,"[-0.029011773, -0.028956275, -0.021870524, -0....",0,"[-0.029011773, -0.028956275, -0.021870524, -0....",2
182807,слесарь-ремонтник по подготовке ж/д цистерн по...,"[-0.007779778, 0.007863226, 0.022493852, -0.09...",-1,"[-0.007779778, 0.007863226, 0.022493852, -0.09...",2

In [51]:
unique_job_list_small[unique_job_list_small['class_1'] == 3][:50]

,job_title,vector_0,class_0,mean_vector_0,class_1
52652,и.о. визуального мерчандайзера,"[-0.03473378, -0.0028455246, 0.08226677, -0.10...",-1,"[-0.03473378, -0.0028455246, 0.08226677, -0.10...",3
72825,визуализатор,"[-0.011128927, 0.008086954, 0.061336674, -0.06...",-1,"[-0.011128927, 0.008086954, 0.061336674, -0.06...",3
80488,визитный мерчендайзер,"[-0.028782245, 0.002719583, 0.034471825, -0.07...",0,"[-0.028782245, 0.002719583, 0.034471825, -0.07...",3
200116,концептуальный мерчендайзер,"[-0.049790733, 0.005553606, 0.09275365, -0.100...",-1,"[-0.049790733, 0.005553606, 0.09275365, -0.100...",3
218033,визитный мерчандайзер,"[-0.019632729, 0.0034965684, 0.028283576, -0.0...",0,"[-0.019632729, 0.0034965684, 0.028283576, -0.0...",3
236616,мерчендайзера,"[-0.029471878, -0.022754109, 0.021784969, -0.0...",0,"[-0.029471878, -0.022754109, 0.021784969, -0.0...",3
292530,маршрутный мерчендайзер,"[-0.05344708, 0.003651655, 0.043224193, -0.082...",0,"[-0.05344708, 0.003651655, 0.043224193, -0.082...",3
295114,логист мерчендайзер,"[-0.07528735, -0.000559254, 0.060592387, -0.09...",0,"[-0.07528735, -0.000559254, 0.060592387, -0.09...",3
359141,приходящий мерчендайзер,"[-0.048810635, -0.015926566, 0.05332703, -0.07...",0,"[-0.048810635, -0.015926566, 0.05332703, -0.07...",3
415938,пеший мерчендайзер,"[-0.031728964, 0.0010302605, 0.046338484, -0.0...",0,"[-0.031728964, 0.0010302605, 0.046338484, -0.0...",3
439608,внешний мерчендайзер,"[-0.05790792, -0.0077414014, 0.05941859, -0.08...",-1,"[-0.05790792, -0.0077414014, 0.05941859, -0.08...",3
447227,сетевой мерчандайзер,"[-0.030293198, 0.030152362, 0.063373566, -0.11...",-1,"[-0.030293198, 0.030152362, 0.063373566, -0.11...",3
3877,визуальный мерчендайзер,"[-0.027357426, 0.008657418, 0.08837378, -0.102...",3,"[-0.007741869737704595, -0.0009325418310860792...",3

## Если исходный результат не устраивает, стоит обратить внимание на другие модели для извлечения признаков или более тщательно подбирать параметры класстеризации